# Data Analysis & Data Presentation (Movies Dataset)

## Data Import and first Inspection

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import HTML
pd.options.display.max_columns = 30
pd.options.display.float_format = '{:.2f}'.format

__Some attributes from the dataset__:

* **id:** The ID of the movie (clear/unique identifier).
* **title:** The Official Title of the movie.
* **tagline:** The tagline of the movie.
* **release_date:** Theatrical Release Date of the movie.
* **genres:** Genres associated with the movie.
* **belongs_to_collection:** Gives information on the movie series/franchise the particular film belongs to.
* **original_language:** The language in which the movie was originally shot in.
* **budget_musd:** The budget of the movie in million dollars.
* **revenue_musd:** The total revenue of the movie in million dollars.
* **production_companies:** Production companies involved with the making of the movie.
* **production_countries:** Countries where the movie was shot/produced in.
* **vote_count:** The number of votes by users, as counted by TMDB.
* **vote_average:** The average rating of the movie.
* **popularity:** The Popularity Score assigned by TMDB.
* **runtime:** The runtime of the movie in minutes.
* **overview:** A brief blurb of the movie.
* **spoken_languages:** Spoken languages in the film.
* **poster_path:** The URL of the poster image.
* **cast:** (Main) Actors appearing in the movie.
* **cast_size:** number of Actors appearing in the movie.
* **director:** Director of the movie.
* **crew_size:** Size of the film crew (incl. director, excl. actors).

In [2]:

df = pd.read_csv("../dataset/movies_complete.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44691 entries, 0 to 44690
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     44691 non-null  int64
 1   title                  44691 non-null  object
 2   tagline                20284 non-null  object
 3   release_date           44657 non-null  object
 4   genres                 42586 non-null  object
 5   belongs_to_collection  4463 non-null   object
 6   original_language      44681 non-null  object
 7   budget_musd            8854 non-null   float64
 8   revenue_musd           7385 non-null   float64
 9   production_companies   33356 non-null  object
 10  production_countries   38835 non-null  object
 11  vote_count             44691 non-null  float64
 12  vote_average           42077 non-null  float64
 13  popularity             44691 non-null  float64
 14  runtime                43179 non-null  float64
 15  overview               43740 non-null  object
 16  spoken_languages       41094 non-null  object
 17  poster_path            44467 non-null  object
 18  cast                   42502 non-null  object
 19  cast_size              44691 non-null  int64
 20  crew_size              44691 non-null  int64
 21  director               43960 non-null  object
dtypes: float64(6), int64(3), object(13)
memory usage: 7.5+ MB

In [3]:
df[:2]

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.00,373.55,Pixar Animation Studios,United States of America,5415.00,7.70,21.95,81.00,"Led by Woody, Andy's toys live happily in his ...",English,<img src='http://image.tmdb.org/t/p/w185//uXDf...,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.00,262.80,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,2413.00,6.90,17.02,104.00,When siblings Judy and Peter discover an encha...,English|Français,<img src='http://image.tmdb.org/t/p/w185//vgpX...,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,26,16,Joe Johnston

In [ ]:
df.hist(column=['budget_musd', 'revenue_musd', 'vote_average', 'popularity'], figsize=(10, 5))
plt.show()

- Check the most common movie genres

In [ ]:
print(df.genres.value_counts().head(10))

df.genres.value_counts().head(10).plot(kind='bar')
plt.show()

- Check the most common movie title

In [ ]:
print(df.title.value_counts().head(10))

df.title.value_counts().head(10).plot(kind='bar')
plt.show()

## The best and the worst movies...

__Filter__ the Dataset and __find the best/worst n Movies__ with the

- Highest Revenue
- Highest Budget
- Highest Profit (=Revenue - Budget)
- Lowest Profit (=Revenue - Budget)
- Highest Return on Investment (=Revenue / Budget) (only movies with Budget >= 10) 
- Lowest Return on Investment (=Revenue / Budget) (only movies with Budget >= 10)
- Highest number of Votes
- Highest Rating (only movies with 50 or more Ratings)
- Lowest Rating (only movies with 50 or more Ratings)
- Highest Popularity

__Create a new DataFrame to get all the data that is gonna be useful to us__

        Use HTML object to show movie's poster picture

In [47]:
df_best = df[['title', 'poster_path', 'budget_musd', 'revenue_musd', 'vote_count', 'vote_average', 'popularity']].copy()

df_firstFive = df_best.head()
HTML(df_firstFive.to_html(escape=False))

__Movies Top 5 - Highest Revenue__

In [48]:
df_highestRevenue = df_best.sort_values(by='revenue_musd', ascending=False)[:5].set_index('title')
HTML(df_highestRevenue.to_html(escape=False))

__Movies Top 5 - Highest Budget__

In [46]:
df_highestBudget = df_best.sort_values(by='budget_musd', ascending=False)[:5].set_index('title')
HTML(df_highestBudget.to_html(escape=False))

__Movies Top 5 - Highest Profit__

In [49]:
df_best['profit_musd'] = df_best['revenue_musd'] - df_best['budget_musd']

df_highestProfit = df_best.sort_values(by='profit_musd', ascending=False)[:5].set_index('title')
HTML(df_highestProfit.to_html(escape=False))

__Movies Top 5 - Lowest Profit__

In [50]:
df_lowestProfit = df_best.sort_values(by='profit_musd', ascending=True)[:5].set_index('title')
HTML(df_lowestProfit.to_html(escape=False))

__Movies Top 5 - Highest ROI__

In [51]:
df_best['ROI'] = df_best['revenue_musd'] / df_best['budget_musd']

df_highestROI = df_best.sort_values(by='ROI', ascending=False)[df_best.budget_musd >= 10][:5].set_index('title')
HTML(df_highestROI.to_html(escape=False))

C:\Users\Andre_Rodrigues\AppData\Local\Temp\ipykernel_4860\1016964914.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_highestROI = df_best.sort_values(by='ROI', ascending=False)[df_best.budget_musd >= 10][:5].set_index('title')

__Movies Top 5 - Lowest ROI__

In [52]:
df_lowestROI = df_best.sort_values(by='ROI', ascending=True)[df_best.budget_musd >= 10][:5].set_index('title')
HTML(df_lowestROI.to_html(escape=False))

C:\Users\Andre_Rodrigues\AppData\Local\Temp\ipykernel_4860\1328016330.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_lowestROI = df_best.sort_values(by='ROI', ascending=True)[df_best.budget_musd >= 10][:5].set_index('title')

__Movies Top 5 - Most Votes__

In [53]:
df_mostVotes = df_best.sort_values(by='vote_count', ascending=False)[:5].set_index('title')
HTML(df_mostVotes.to_html(escape=False))

__Movies Top 5 - Highest Rating__

In [54]:
df_highestRating = df_best.sort_values(by='vote_average', ascending=False)[df_best.vote_count>=50][:5].set_index('title')
HTML(df_highestRating.to_html(escape=False))

C:\Users\Andre_Rodrigues\AppData\Local\Temp\ipykernel_4860\4081753877.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_highestRating = df_best.sort_values(by='vote_average', ascending=False)[df_best.vote_count>=50][:5].set_index('title')

__Movies Top 5 - Lowest Rating__

In [55]:
df_lowestRating = df_best.sort_values(by='vote_average', ascending=True)[df_best.vote_count>=50][:5].set_index('title')
HTML(df_lowestRating.to_html(escape=False))

C:\Users\Andre_Rodrigues\AppData\Local\Temp\ipykernel_4860\662696111.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_lowestRating = df_best.sort_values(by='vote_average', ascending=True)[df_best.vote_count>=50][:5].set_index('title')

__Movies Top 5 - Most Popular__

In [56]:
df_mostPopular = df_best.sort_values(by='popularity', ascending=False)[:5].set_index('title')
HTML(df_mostPopular.to_html(escape=False))

## Find your next Movie

__Filter__ the Dataset for movies that meet the following conditions:

__Search 1: Science Fiction Action Movie with Bruce Willis (sorted from high to low Rating)__

In [41]:
# Generate a Series with boolean value if the movie is an action or a Science Fiction movie
series_genres = df.genres.str.contains('Action') & df.genres.str.contains('Science Fiction')
# Generate a Series with a boolean value if the movie has Bruce Willis as actor
series_actor = df.cast.str.contains('Bruce Willis')

df_search_01 = df.loc[series_genres & series_actor, ['title', 'poster_path', 'vote_average']].sort_values(by='vote_average', ascending=False).set_index('title')
HTML(df_search_01.to_html(escape=False))

__Search 2: Movies with Uma Thurman as actor and directed by Quentin Tarantino (sorted from short to long runtime)__

In [57]:
# Generate a series with Boolean value if the movie is directed by Quentin Tarantino
series_director = df.director.str.contains('Quentin Tarantino')
# Generate a series with Boolean value if the movie has Uma Thurman as actor
series_actor = df.cast.str.contains('Uma Thurman')

df_search_02 = df.loc[series_director & series_actor, ['title', 'poster_path', 'runtime']].sort_values(by='runtime', ascending=True).set_index('title')
HTML(df_search_02.to_html(escape=False))

__Search 3: Most Successful Pixar Studio Movies between 2010 and 2015 (sorted from high to low Revenue)__

In [69]:
# Generate a series with Boolean value if the movie is produced by Pixar Animation Studios
series_studio = df.production_companies.str.contains('Pixar Animation Studios')
# Generate a series with Boolean value if the movie was released between 2010 and 2015
series_releaseYear = df.release_date.between('2010-01-01', '2015-12-31')

df_search_03 = df.loc[series_studio & series_releaseYear, ['title', 'poster_path', 'production_companies', 'revenue_musd']].sort_values(by='revenue_musd', ascending=False)[:5].set_index('title')
HTML(df_search_03.to_html(escape=False))

__Search 4: Action or Thriller Movie with original language English and minimum Rating of 7.5 (most recent movies first)__

In [82]:
# Generate a series with Boolean value if it is a action or thriller movie
series_genres = df.genres.str.contains('Action') & df.genres.str.contains('Thriller')
# Genrate a series with Boolean value if the movie's original language is English
series_language = df.original_language == 'en'

df_search_04 = df.loc[series_genres & series_language, ['title', 'poster_path', 'vote_average', 'release_date']][df.vote_average >= 7.5].sort_values(by='release_date', ascending=True)[:5].set_index('title')
HTML(df_search_04.to_html(escape=False))

C:\Users\Andre_Rodrigues\AppData\Local\Temp\ipykernel_4860\1998726036.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_search_04 = df.loc[series_genres & series_language, ['title', 'poster_path', 'vote_average', 'release_date']][df.vote_average >= 7.5].sort_values(by='release_date', ascending=True)[:5].set_index('title')

## Are Franchises more successful?

__Analyze__ the Dataset and __find out whether Franchises (Movies that belong to a collection) are more successful than stand-alone movies__ in terms of:

- mean revenue
- median Return on Investment
- mean budget raised
- mean popularity
- mean rating

hint: use groupby()

In [14]:
# Coloumn that indicates if the movie is a franchise
df["Franchise"] = df.belongs_to_collection.notnull()
print(df.Franchise.head())

print()

# Count the number of movies that are part of a franchise
print("Number of movies that are part of a franchise:")
print(df.Franchise.value_counts())

0     True
1    False
2     True
3    False
4     True
Name: Franchise, dtype: bool

Number of movies that are part of a franchise:
False    40228
True      4463
Name: Franchise, dtype: int64

__Franchise vs. Stand-alone: Average Revenue__

In [16]:
df.groupby('Franchise').revenue_musd.mean()

Franchise
False    44.74
True    165.71
Name: revenue_musd, dtype: float64

__Franchise vs. Stand-alone: Return on Investment / Profitability (median)__

In [17]:
df["ROI"] = df.revenue_musd / df.budget_musd

df.groupby('Franchise').ROI.median()

Franchise
False   1.62
True    3.71
Name: ROI, dtype: float64

__Franchise vs. Stand-alone: Average Budget__

In [18]:
df.groupby('Franchise').budget_musd.mean()

Franchise
False   18.05
True    38.32
Name: budget_musd, dtype: float64

__Franchise vs. Stand-alone: Average Popularity__

In [19]:
df.groupby('Franchise').popularity.mean()

Franchise
False   2.59
True    6.25
Name: popularity, dtype: float64

__Franchise vs. Stand-alone: Average Rating__

In [20]:
df.groupby('Franchise').vote_average.mean()

Franchise
False   6.01
True    5.96
Name: vote_average, dtype: float64

__Results__

In [21]:
df.groupby('Franchise').agg({'vote_average': 'mean', 'popularity': 'mean', 'budget_musd': 'mean', 'ROI': 'median', 'revenue_musd': 'mean'})

           vote_average  popularity  budget_musd  ROI  revenue_musd
Franchise
False              6.01        2.59        18.05 1.62         44.74
True               5.96        6.25        38.32 3.71        165.71

## Most Successful Franchises

5. __Find__ the __most successful Franchises__ in terms of

- __total number of movies__
- __total & mean budget__
- __total & mean revenue__
- __mean rating__

## Most Successful Directors

6. __Find__ the __most successful Directors__ in terms of

- __total number of movies__
- __total revenue__
- __mean rating__